
/* Styles CSS pour l'appli COIN */


/* Barres */
.title {
    color: white;
    text-shadow: 2px 2px black;
    background-color: DarkRed;
}



/* Font
body {
    font-family: 'Noto Serif', serif;
} */




/* Fix for icons */
.icon-search {
    color: white;
}

.icon-bars,.icon-close,.icon-left-nav {
    color: white;
    text-shadow: 2px 2px black;
}


    

/* Dividers */
.table-view-divider {
    color: black;
    background-color: silver;
    padding-top: 1px;
    padding-bottom: 1px;
}

.thisisaday {
    border-top: 1px double darkred;
    color: white;
    text-shadow: 2px 2px black;
    background-color: DarkRed;
    text-align: center;
}


/* Selection buttons */
.segmented-control .control-item:active {
    background-color:  DarkRed;
}


.segmented-control .control-item.active {
    background-color:  DarkRed;
    color: white;
    border: 1px groove #580000 ;
}


/* ratchet don't show links as links, fix it for when we need it*/
.link {
    color: blue;
    text-decoration: underline;
}



