
/* Styles CSS pour l'appli COIN */


/* Titlebars */
.title {
    color: white;
    background-color: DarkRed;
}

/*    -webkit-backface-visibility: hidden;
 -webkit-overflow-scrolling: auto;**/
.content {
    -webkit-transform: translate3d(0,0,0);

}


/* Fix for icons */
.icon-search {
    color: white;
}

.icon-bars,.icon-close,.icon-left-nav {
    color: white;
}
 

/* Dividers */
.table-view-divider {
    color: black;
    background-color: silver;
    padding-top: 1px;
    padding-bottom: 1px;
}

.thisisaday {
    /*border-top: 1px double darkred;*/
    color: white;
    background-color: DarkRed;
    text-align: center;
}


.segmented-control .control-item.active {
    background-color:  DarkRed;
    color: white;
    /*border: 1px groove #580000;*/
}



