
/* Styles CSS pour l'appli COIN */


/* Titlebars */
.title {
    color: white;
    background-color: DarkRed;
    text-shadow: 2px 2px black;
}

/*    -webkit-backface-visibility: hidden;
 -webkit-overflow-scrolling: auto;*       text-align: justify;*   */
.content {
    -webkit-transform: translate3d(0,0,0);
}


/* Fix for icons */
.icon-search {
    color: white;
}

.icon-bars,.icon-close,.icon-left-nav {
    color: white;
    text-shadow: 2px 2px black;
}
 

/* Dividers */
.table-view-divider {
    color: black;
    background-color: silver;
    padding-top: 0px;
    padding-bottom: 0px;
}


.table-view-cell {
    padding-right: 13px;

}

.thisisaday {
    /*border-top: 1px double darkred;*/
    color: white;
    background-color: DarkRed;
    text-shadow: 2px 2px black;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center
}


.segmented-control .control-item.active {
    background-color:  DarkRed;
    color: white;
    /*border: 1px groove #580000;*/
}
